.searchbar{
    max-height: 50px !important;
    flex: 0 0 40%;
}
.overflow{
    overflow:hidden;
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}