<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
  <meta charset="UTF-8">
  <title>Pizzas List</title>
</head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container">
  <h1 class="text-center mt-5">Pizzas list</h1>
  <form th:action="@{/pizzas}" method="GET">
    <div class="input-group">
      <!-- input precaricato leggendo il parametro search della request -->
      <input
          type="text"
          placeholder="Search by name"
          class="form-control" name="search"
          th:value="${param.search}"
      >
      <button class="btn btn-primary" type="submit">Search</button>
    </div>

  </form>
  <hr>
  <a th:href="@{/pizzas/create}" class="btn btn-primary">Add new Pizza</a>
  <table class="table">
    <thead>
    <tr class="text-center">
      <th >Name</th>
      <th>Pic</th>
      <th>Description</th>
      <th>Price</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="pizza : ${pizzaList}" th:object="${pizza}">
      <td class="pt-4" th:text="*{name}"></td>
      <td><img style="width: 100px; height: 70px;" th:src="*{pic}"></img></td>
      <td class="pt-4" th:text="*{description}"></td>
      <td class="pt-4" th:text="|*{price}$|"></td>
      <td class="pt-4"><a th:href="@{/pizzas/show/{id}(id=*{id})}" title="details" class="btn btn-primary"><i
          class="fa-solid fa-book"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>