<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<head>
  <meta charset="UTF-8">
  <title>Pizza Show</title>
</head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="card mt-5 text-center" style="width: 27rem; height: 34rem;  margin-inline: auto !important;"
     th:object="${pizza}">
  <img style="mt-5" th:src="*{pic}" class="card-img-top" alt="...">
  <div class="card-body" style="max-width: 60%; margin-inline:auto !important;">
    <h3 class="card-title">Your Pizza's details:</h3>
    <h4 class="text-muted mt-3" th:text="*{name}"></h4>
    <p class="card-text" th:text="*{description}"></p>
    <p th:text="| Price: *{price}$|"></p>
    <a th:href="@{/pizzas}" class="btn btn-primary">Go back to pizzas list</a>
  </div>
</div>
</body>
</html>