<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<head>
  <meta charset="UTF-8">
  <title>Pizza Show</title>
</head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="card mt-5 text-center" style="width: 40rem; height: 50rem;  margin-inline: auto !important;"
     th:object="${pizza}">
  <img style="mt-5" th:src="*{pic}" class="card-img-top" alt="...">
  <div class="card-body" style="max-width: 60%; margin-inline:auto !important;">
    <h3 class="card-title">Your Pizza's details:</h3>
    <h4 class="text-muted mt-3" th:text="*{name}"></h4>
    <p class="card-text" th:text="*{description}"></p>
    <p th:text="| Price: *{price}$|"></p>
    <a th:href="@{/pizzas}" class="btn btn-primary">Go back to pizzas list</a>
    <hr>
    <h3>Ingredients</h3>
    <ul th:if="*{ingredients.size() >0 }">
      <li th:each="ingredientObj : *{ingredients}" th:text="${ingredientObj.name}"></li>
    </ul>
    <div th:unless="*{ingredients.size() > 0}" class="alert alert-ingo">The list is empty</div>

    <hr>
    <section sec:authorize="hasAuthority('ADMIN')">
      <h5>Deals
        <a th:href="@{/deals/create(pizzaId=*{id})}">
          <i class="fa-solid fa-circle-plus"></i>
        </a>
      </h5>
      <table class="table">
        <thead>
        <tr>
          <th>Start date</th>
          <th>Expire date</th>
          <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deal : *{deals}" th:object="${deal}">
          <td th:text="*{startDate}"></td>
          <td th:text="*{expireDate}"></td>
          <td th:text="*{title}"></td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>


</div>
</body>
</html>